.chart {
  padding: 20px;
  text-align: center;
}

.table {
  padding: 100px;
  text-align: center;
  justify-content: center;
}

.aqiTable {
  width: 100%;
}

.selectCity {
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
